<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Repro Health</h1>

    </div>
    <div class="content">
      <p>
        Some content here.
      </p>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
