<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
            <h1>Who's Helping?</h1>
      <h2>The Problem with Using Cost-Saving Arguments
              in Reproductive Health Care</h2>

    </div>
    <div class="content">
            <p> As women’s reproductive rights are under a constant stream of attacks from conservative policymakers, supporters of expanding access to reproductive heath care frequently produce rebuttals to justify its importance.</p>
            <p>
                    <img class="small-image" src="images/protest1.jpg">

            </p>
            <p>Especially under the threat of lawmakers in the reproductive health care arena are publicly funded family programs that rely on the support of the legislature.</p>
            <p>
                    <img class="small-image" src="images/protest.jpg">
            </p>
            <p>Publicly funded family planning programs are critical to  bridging the reproductive health care gap because they allow low-income women to access family planning services when they may have otherwise been unable to afford them. Two examples of publicly funded family programs are <strong>Medicaid</strong> family planning services and <strong>Title X</strong>.</p>
            <p> <img class="small-image" src="images/titleX.png"> </p>
      <p>
         <img class="small-image" src="images/money.png">
         <img class="small-image" src="images/who.png">
         <img class="small-image" src="images/percent.png">
      </p>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
