<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
            <h1>Who's Helping?</h1>
      <h2>The Problem with Using Cost-Saving Arguments
              in Reproductive Health Care</h2>

    </div>
    <div class="content">
            <p> As women’s reproductive rights are under a constant stream of attacks from conservative policymakers, supporters of expanding access to reproductive heath care frequently produce rebuttals to justify its importance.</p>
            <p>
                    <img class="small-image" src="images/protest1.jpg">

            </p>
            <p>Especially under the threat of lawmakers in the reproductive health care arena are publicly funded family programs that rely on the support of the legislature.</p>
            <p>
                    <img class="small-image" src="images/protest.jpg">
            </p>
            <p>Publicly funded family planning programs are critical to  bridging the reproductive health care gap because they allow low-income women to access family planning services when they may have otherwise been unable to afford them. Two examples of publicly funded family programs are <strong>Medicaid</strong> family planning services and <strong>Title X</strong>.</p>
            <p> <img class="small-image" src="images/titleX.png"> </p>
            <p>In order to defend these programs, their supporters have pointed out a number of reasons why they are necessary. One argument supporters of publicly funded family programs make is that they save the government a lot of money. Articles taking this stance have appeared in mainstream media outlets such as
                    <a href="http://www.nytimes.com/roomfordebate/2015/07/13/birth-control-on-demand/publicly-funded-birth-control-is-crucial">The New York Times</a> and
                    <a href="http://www.npr.org/sections/health-shots/2012/03/06/148042609/how-birth-control-saves-taxpayers-money">NPR</a>,
                    in <a href="https://www.ncbi.nlm.nih.gov/pubmed/21506736">academic journals</a>,
                    and in <a href="https://www.plannedparenthoodaction.org/issues/health-care-equity/title-x">statements from health care providers</a>. </p>
            <p>  <img class="small-image" src="images/ppaf.png">
            </p>
            <p>These arguments may be convincing, but a deeper examination of them reveals them to be highly problematic and ultimately harmful to the very women whose rights they invoke.
            </p>
            <p>First we will explain how these arguements work and who they effect. </p>
         <img class="small-image" src="images/money.png">
         <p> Now, we come to question whose reproduction these programs effectively reduce. </p>
         <img class="small-image" src="images/who.png">

         <h3>So what's the problem?</h3>
         <p>By arguing that an expansion of publicly funded family planning programs save money for the government, the researchers, lobbyists, and government officials who make these arguments are asserting that the unborn children of women who utilize publicly funded family planning programs are a drain on government funds. </p>
         <p>Since these women are mostly low-income and disproportionately women of color, such arguments, which do not consider their children to be of benefit to society, are inherently <strong>racist</strong> and <strong>classist</strong>. </p>
          <img class="small-image" src="images/percent.png">
         <p>To consider the birth of low income children primarily as a cost to the government is to <strong>imply that such children are of little benefit to society</strong> and that they will not grow up to be contributing citizens. </p>
         <p>
        This sentiment is tied to the stereotype that low income people are a <strong>drain on government resources</strong>, and that rather than contributing to society, they collect welfare checks and work unskilled jobs because they are inherently lazy and are ultimately inferior to other, hard-working, citizens. This stereotype also highly <strong>racialized</strong> is more likely to be applied to poor blacks than poor whites.</p>
        <p> <img class="small-image" src="images/welfare-queen.png"></p>
        <p>As a supporter of publicly funded family planning programs, I lament these arguments. I believe that all people should have access to quality reproductive health care because it is a fundamental right, not because the government or economy would benefit from a reduced rate of reproduction among targeted groups.</p>
        <p> <img class="small-image" src="images/ribbon.png"></p>
        <p>Finally, I want to emphasize the importance of calling into question the implications of arguments that you may agree with. It is much harder to critique something supporting that you also support, but it is very important to do so.</p>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
