<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>My Paper</h1>
    </div>
    <div class="content-paper">
            <object width="900" height="800" data="/images/paper.pdf"></object>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
